.row {
  max-width: 114rem;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: 4em; // See all packages button
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      // margin-right: 1rem;
    }
    @include respond(tab-port) {
      // width: 90% !important;
    }
  }

  .col-1-of-2 {
    width: calc((100% - 4rem) / 2);

    .col-2nd {
      margin-left: 25%;
      margin-bottom: 6rem;

      :nth-child(3) {
        margin-top: 1em;
      }

      @include respond(phone) {
        margin-left: 13%;
        margin-bottom: 2rem;
      }
      @include respond(tab-port) {
        margin-left: 13%;
        margin-bottom: 2rem;
      }
      @include respond(tab-land) {
        margin-left: 13%;
        margin-bottom: 2rem;
      }
    }
  }

  .col-1-of-3 {
    width: calc((100% - 3 * 6rem) / 3);

    &:not(:first-child) {
      margin-left: 4rem;
      @include respond(phone) {
        margin-left: 1rem;
        width: 100%;
      }
    }

    @include respond(tab-land) {
    }
    @include respond(tab-port) {
      width: calc((100% - 3 * 4rem) / 3);
      margin-left: 0rem;
    }
    @include respond(phone) {
      margin-left: 1rem;
      margin-bottom: 4em;
      width: 100%;
    }
  }

  .col-1-of-4 {
    width: calc((100% - 3 * 5rem) / 4);
    margin-left: 2rem;

    @include respond(tab-land) {
      width: calc((100% - 2rem) / 2);
      margin-left: 0;
    }
    @include respond(tab-port) {
      width: calc((100% - 2rem) / 2);
      margin-left: 0;
    }
    @include respond(phone) {
      width: calc((100% - 2rem) / 2);
      margin-left: 0;
    }
  }
}

.row2 {
  position: absolute;
}
