$launion-color: #012f3f;
$pink-sky: #e8b2bf;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-light: #5643fa;
$bora-bora1: #2bc0e4;
$bora-bora2: #eaecc6;

$pinky1: #dd5e89;
$pinky2: #f7bb97;

$sunrise1: #ff512f;
$sunrise2: #f09819;

@font-face {
  font-family: "OCR";
  src: url("../css/fonts/OCRAEXT_2.woff") format("woff");
}
